doctype html

html
  head
    title JavaScript sandbox
    script(src="//ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js")
    script(src="//coffeescript.org/extras/coffee-script.js")
    script(src="//jumly.tmtk.net/public/jumly.min.js")
    script(src="diagram.js.text=javascript")

    link(rel="stylesheet" type="text/css" href="style.css.text=css")

  body
    div.all
      div.titleBar.
        Welcome to the sandbox...

      div.nonTitle
        div.leftMenu.menu
          ul
        div.content
          h1 Content...
